<!DOCTYPE html>
<html>
  <body>
    <h2>Grammar Test</h2>

    <form method="POST">
      {% for q in questions %}
      <p><b>{{ loop.cindex }}. {{ q.question }}</b></p>

      <input type="radio" name="{{ q.id }}" value="A" /> {{ q.option_a }} <br />
      <input type="radio" name="{{ q.id }}" value="B" /> {{ q.option_b }} <br />
      <input type="radio" name="{{ q.id }}" value="C" /> {{ q.option_c }} <br />
      <input type="radio" name="{{ q.id }}" value="D" /> {{ q.option_d }}
      <br /><br />
      {% endfor %}

      <button type="submit">Submit Test</button>
    </form>
  </body>
</html>
