body {
  font-family: Arial;
  background: #eef2f3;
}

.container {
  width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

section {
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
