* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #0a2a43;
}

.logo {
  color: #00c853;
}

.navbar nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 15px;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: linear-gradient(rgba(10, 42, 67, 0.8), rgba(10, 42, 67, 0.8)),
    url("bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Job Cards */
.job-cards {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: #0a2a43;
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background-color: #00c853;
  color: white;
  transform: translateY(-5px);
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 14px 35px;
  background-color: #00c853;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
}
