body {
  font-family: Arial, sans-serif;
  background: #f2f6ff;
}

.container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #2563eb;
}

.pass {
  color: green;
  font-size: 20px;
}

.fail {
  color: red;
  font-size: 20px;
}
