* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f2f6fc;
}

/* Header */
.header {
  background: #0a3d62;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-size: 18px;
}

/* Layout */
.container {
  display: flex;
  padding: 30px;
  gap: 30px;
}

/* Instructions */
.instructions {
  width: 25%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions h3 {
  margin-bottom: 15px;
  color: #0a3d62;
}

.instructions ul li {
  margin-bottom: 10px;
}

/* Question Box */
.question-box {
  width: 75%;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-box h3 {
  color: #0a3d62;
  margin-bottom: 15px;
}

.question-box p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Options */
.question-box label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.prev {
  background: #bdc3c7;
}

.next {
  background: #0a3d62;
  color: white;
}

.next:hover {
  background: #1e6fa1;
}
s