<!DOCTYPE html>
<html>
  <head>
    <title>Technical Round</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="card">
      <h2>Technical Interview Round</h2>

      <form method="post">
        {% if tech_q %}
          {% set index = session.tech_index %}
          <p>{{ tech_q[index].question }}</p>

          <label>
            <input type="radio" name="answer" value="{{ tech_q[index].option1 }}" required
            {% if session.get('tech_answers') and session.tech_answers|length > index and session.tech_answers[index] == tech_q[index].option1 %} checked {% endif %}>
            {{ tech_q[index].option1 }}
          </label><br />

          <label>
            <input type="radio" name="answer" value="{{ tech_q[index].option2 }}"
            {% if session.get('tech_answers') and session.tech_answers|length > index and session.tech_answers[index] == tech_q[index].option2 %} checked {% endif %}>
            {{ tech_q[index].option2 }}
          </label><br />

          <label>
            <input type="radio" name="answer" value="{{ tech_q[index].option3 }}"
            {% if session.get('tech_answers') and session.tech_answers|length > index and session.tech_answers[index] == tech_q[index].option3 %} checked {% endif %}>
            {{ tech_q[index].option3 }}
          </label><br />

          <label>
            <input type="radio" name="answer" value="{{ tech_q[index].option4 }}"
            {% if session.get('tech_answers') and session.tech_answers|length > index and session.tech_answers[index] == tech_q[index].option4 %} checked {% endif %}>
            {{ tech_q[index].option4 }}
          </label><br />

          <button type="submit" class="next">Next ➜</button>
        {% else %}
          <p>No Technical questions found.</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
