<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Technical Round</title>
  </head>
  <body>
    <h2>Technical Interview Round</h2>

    <form action="/result" method="post">
      <input type="hidden" name="hr_score" value="{{ hr_score }}" />

      {% for q in tech_questions %}
      <p>{{ q.question }}</p>
      {% for i in range(1,5) %} {% set opt = "option" ~ i %}
      <label>
        <input
          type="radio"
          name="tech{{ q.id }}"
          value="{{ q[opt] }}"
          required
        />
        {{ q[opt] }} </label
      ><br />
      {% endfor %} {% endfor %}

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
