<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Technical Round</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="card">
      <div class="progress">Question {{ current }} / {{ total }}</div>

      <h2>{{ question.question }}</h2>

      <form method="post">
        <div class="options">
          {% for i in range(1,5) %} {% set opt = "option" ~ i %}
          <label>
            <input
              type="radio"
              name="answer"
              value="{{ question[opt] }}"
              required
            />
            {{ question[opt] }} </label
          ><br />
          {% endfor %}
        </div>

        <button type="submit" class="next">Next ➜</button>
      </form>
    </div>
  </body>
</html>
