<!DOCTYPE html>
<html>
  <head>
    <title>Aptitude Test</title>
  </head>
  <body>
    <h2>Aptitude Test</h2>

    <form method="post" action="/submit">
      {% for q in questions %}
      <p><b>{{ loop.index }}. {{ q.question }}</b></p>

      <input type="radio" name="q{{ q.id }}" value="{{ q.option1 }}" /> {{
      q.option1 }} <br />
      <input type="radio" name="q{{ q.id }}" value="{{ q.option2 }}" /> {{
      q.option2 }} <br />
      <input type="radio" name="q{{ q.id }}" value="{{ q.option3 }}" /> {{
      q.option3 }} <br />
      <input type="radio" name="q{{ q.id }}" value="{{ q.option4 }}" /> {{
      q.option4 }} <br />

      <br />
      {% endfor %}

      <button type="submit">Submit Test</button>
    </form>
  </body>
</html>
