* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  height: 100vh;
  background: #f4f6f8;
}

/* MAIN SCREEN */
.screen {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.left-panel {
  width: 50%;
  background: #1f2937;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-panel h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.info-box {
  margin-bottom: 25px;
}

.info-box h4 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #93c5fd;
}

.info-box p {
  font-size: 18px;
}

.info-box ul {
  margin-left: 20px;
  line-height: 1.8;
  font-size: 15px;
}

/* RIGHT PANEL */
.right-panel {
  width: 50%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-panel h1 {
  font-size: 44px;
  margin-bottom: 15px;
  color: #111827;
}

.sub-text {
  font-size: 18px;
  color: #6b7280;
  margin-bottom: 30px;
}

.start-btn {
  text-decoration: none;
  padding: 14px 50px;
  background: #22c55e;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.start-btn:hover {
  background: #16a34a;
  transform: scale(1.05);
}
